<h2>Log In</h2>

<div style="color:#FF0000">
<% if @error.present? %>
  <%= @error %>
  <br><br>
<% end %>
</div>

<%= form_with model: @user, url: login_path, method: "post" do |f| %>
  <table>
    <tr>
      <td style="text-align: right;"><%= f.label :email %>&nbsp;</td>
      <td><%= f.text_field :email, required: true %></td>
    </tr>
    <tr><td><br></td></tr>

    <tr>
      <td style="text-align: right;"><%= f.label :password %>&nbsp;</td>
      <td><%= f.password_field :password, required: true %></td>
    </tr>
    <tr><td><br></td></tr>

  </table>

  <%= f.button "Log In", class: "button small" %>
<% end %>

<br><br><br>
Created your account through Google?
<%= button_to "Log In With Google", google_login_path, class: "button small" %>

<br>
Don't have an account?<br>
<%= link_to "Create an Account", new_user_path, class: "button small" %>
