<h2>Log In</h2>

<div style="color:#FF0000">
<% if @error.present? %>
  <%= @error %>
  <br><br>
<% end %>
</div>

<%= form_with model: @user, url: login_path, method: "post" do |f| %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :email, "Email:" %>
  <%= f.text_field :email %><br><br>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %><br><br>
  <%= f.button "Log In", class: "button small" %>
<% end %>

<br><br><br>
Don't have an account?
<br><br>
<%= link_to "Create an Account", new_user_path, class: "button small" %>
or
<%= link_to "Log In With Google", '/auth/google_oauth2', class: "button small" %>