<center>
<h2>Create a new TreeLogger account</h2>
</center>

<% if @user.errors[:email].include?("has already been taken") %>
  <div style="text-align:center; color:#FF0000">
    The email you entered &mdash; <%= @user.email %> &mdash; is already in use
  </div>
  <br>
<% end %>

<center>
<%= form_with model: @user do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name, placeholder: @errors[:name] ? @errors[:name].join(', ') : "" %><br>
  <br>

  <%= f.label :email %>
  <br>
  <%= f.text_field :email, placeholder: @errors[:email] ? @errors[:email].join(', ') : "" %><br>
  <br>

  <%= f.label :password %>
  <br>
  <%= f.password_field :password, placeholder: @errors[:password] ? @errors[:password].join(', ') : "" %><br>
  <br>

  <%= f.label :password_confirmation %>
  <br>
  <%= f.password_field :password_confirmation, placeholder: @errors[:password_confirmation] ? @errors[:password_confirmation].join(', ') : "" %><br>
  <br>

  <%= f.submit "Create Account", class: "button" %>
<% end %>

</center>