<h2>Create Account</h2>

<%# Explicit ordering for error section. Built a method to dynamically display but couldn't get ordering right. %>
<div style="color:#FF0000">
  <% if @errors.present? %>
    <% if @errors[:name].present? %>
      <%= "Name " + oxfordize_list(@errors[:name]) %><br>
    <% end %>

    <% if @errors[:email].present? %>
      <%= "Email " + oxfordize_list(@errors[:email]) %><br>
    <% end %>

    <% if @errors[:password].present? %>
      <%= "Password " + oxfordize_list(@errors[:password]) %><br>
    <% end %>

    <% if @errors[:password_confirmation].present? %>
      <%= "Password confirmation " + oxfordize_list(@errors[:password_confirmation]) %><br>
    <% end %>
    <br>
  <% end %>
</div>

<%= form_with model: @user do |f| %>
  <%= f.label :name, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name:".html_safe %>
  <%= f.text_field :name %><br>
  <br>

  <%= f.label :email, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:".html_safe %>
  <%= f.text_field :email %><br>
  <br>

  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %><br>
  

  <%= f.label :password_confirmation, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br>
  <div style="font-size: small">
    Password should be 8-70 characters with at least one uppercase letter,<br>
    one lowercase letter, one number and one special character
  </div>
  <br>

  <%= f.submit "Create Account", class: "button small" %>
<% end %>
<br><br><br>
Already have an account?<br><br>
<%= link_to "Log In", login_path, class: "button small" %>