<h2>Create Account</h2>

<%# Explicit ordering for error section. Built a method to dynamically display but couldn't get ordering right. %>
<div style="color:#FF0000">
  <% if @errors.present? %>
    <% if @errors[:name].present? %>
      <%= "Name " + oxfordize_list(@errors[:name]) %><br>
    <% end %>

    <% if @errors[:email].present? %>
      <%= "Email " + oxfordize_list(@errors[:email]) %><br>
    <% end %>

    <% if @errors[:password].present? %>
      <%= "Password " + oxfordize_list(@errors[:password]) %><br>
    <% end %>

    <% if @errors[:password_confirmation].present? %>
      <%= "Confirm password " + oxfordize_list(@errors[:password_confirmation]) %><br>
    <% end %>
    <br>
  <% end %>
</div>

<%= form_with model: @user do |f| %>
  <table>
    <tr>
      <td style="text-align: right;"><%= f.label :name %>&nbsp;</td>
      <td><%= f.text_field :name, required: true %></td>
    </tr>
    <tr><td><br></td></tr>

    <tr>
      <td style="text-align: right;"><%= f.label :email %>&nbsp;</td>
      <td><%= f.text_field :email, required: true %></td>
    </tr>
    <tr><td><br></td></tr>
    
    <tr>
      <td style="text-align: right;"><%= f.label :password %>&nbsp;</td>
      <td><%= f.password_field :password, required: true %></td>
    </tr>

    <tr>
      <td style="text-align: right;"><%= f.label :password_confirmation, "&nbsp;".html_safe %></td>
      <td><%= f.password_field :password_confirmation, placeholder: "Confirm Password", required: true %></td>
    </tr>
      
  </table>
  <div style="font-size: small">
    Password must contain at least 8 characters including 1 lower case letter, 1 upper case letter, 1 number, and 1 special character.
  </div>
  <br>
  <%= f.submit "Create Account", class: "button small" %>
<% end %>

<br><br><br>
Want to sign up using a Google account instead?
<%= form_tag('/auth/google_oauth2', method: 'post') do %>
  <button class="button small" type='submit'>Sign Up With Google</button>
<% end %>

<br>
Already have an account?
<br>
<%= link_to "Log In", login_path, class: "button small" %>