<center>
<h2><%= greet %><%= current_user.name %>!</h2>

<%= link_to "Properties", properties_path, class: "button small" %>

<%= link_to "New Property", new_property_path, class: "button small" %>

<%= link_to "New Survey", start_new_survey_path, class: "button small" %>

<%= link_to "Edit Account", edit_user_path(current_user), class: "button small" %>
</center>