<center>
  <h2><%= greet %><%= current_user.name %>!</h2>

  <%= link_to "Properties", properties_path, class: "button" %>

  <%= link_to "New survey", start_new_survey_path, class: "button" %>

  <%= link_to "Edit account", edit_user_path(current_user), class: "button" %>
</center>