<h2>New Property</h2>

<%= form_with model: @property do |f| %>

  <% if @errors[:title].empty? %>
    <%= f.label :title, "&nbsp;".html_safe %>
  <% else %>
    <%= f.label :title, "You must assign a name", style: "color: red" %><br>
  <% end %>
  <%= f.text_field :title, placeholder: "Property Name", style: "text-align: center;", class: "non-red-error" %>
  
  <br><br>

  <%= f.submit "Create Property", class: "button small" %>
<% end %>
