<center>
  <h2><%= @property.title %></h2>

  <%= link_to "Surveys", property_surveys_path(@property), class: "button" %>

  <%= link_to "Trees", property_trees_path(@property), class: "button" %>

  <%= link_to "New survey", new_property_survey_path(@property), class: "button" %>
  
  <%= link_to "Edit property", edit_property_path(@property), class: "button" %>
</center>