<center>
<h2><%= @tree.name %></h2>

<% if !@tree.inspections.empty? %>
  Species: <%= @tree.species.name %><br>
  Height: <%= params[:survey] ? current_survey(@tree).height : last_survey(@tree).height %> feet<br>
  DBH: <%= params[:survey] ? current_survey(@tree).dbh : last_survey(@tree).dbh %> inches<br>
  Foliage: <%= params[:survey] ? current_survey(@tree).foliage : last_survey(@tree).foliage %><br>
  Comments: <%= params[:survey] ? current_survey(@tree).comments : last_survey(@tree).comments %><br>
<% else %>
  This tree has not yet been inspected! You'll have to log this tree in a survey before anything more will be shown on this page.<br><br>
<% end %>

<h2></h2>

<%= link_to "Back to Surveys", property_surveys_path(@tree.property), class: "button" %>
<%= link_to "Back to #{@tree.property.title}", property_path(@tree.property), class: "button" %>
</center>