<h2><%= @tree.name %></h2>

<% if !@tree.inspections.empty? %>
  Species:<br>
  <strong><%= @tree.species.name %></strong><br><br>
  
  Height:<br>
  <strong><%= params[:survey].present? ? current_survey(@tree).height : last_survey(@tree).height %> feet</strong><br><br>
  
  DBH:<br>
  <strong><%= params[:survey].present? ? current_survey(@tree).dbh : last_survey(@tree).dbh %> inches</strong><br><br>
  
  Foliage:<br>
  <strong><%= params[:survey].present? ? current_survey(@tree).foliage : last_survey(@tree).foliage %></strong><br><br>
  
  <% if @tree.inspections.none? { |i| i.comments.present? } %>
    <%# don't display any comments %>
  <% else %>
    Comments:<br>
    <strong>
    <% if params[:survey].present? && current_survey(@tree).comments.present? %>
      <%= current_survey(@tree).comments %><br>
    <% else %>    
      <% @tree.inspections.each do |i| %>
        <% if i.comments.present? %>
          <% if !params[:survey].present? %>
            <%= "&bull; ".html_safe if @tree.inspections.size > 1 %> 
            <%= "#{humanize_date(i.survey.date)}: " %>
          <% end %>
          <%= "#{i.comments}" %><br>
        <% end %>
      <% end %>
    <% end %><br>
    </strong>
  <% end %>

<% else %>
  This tree has not yet been inspected! You'll have to log this tree in a survey before anything more will be shown on this page.<br><br>
<% end %>

<h2></h2>

<%= link_to "Inspect This Tree", select_survey_for_tree_path(@tree), class: "button small" %><br>
<%= link_to "Trees", property_trees_path(@tree.property), class: "button small" %>
<%= link_to "Surveys", property_surveys_path(@tree.property), class: "button small" %>
<%= link_to "#{@tree.property.title}", property_path(@tree.property), class: "button small" %>