<h2><%= @tree.name %><br></h2>

<% if !@tree.inspections.empty? %>
  <%= last_survey(@tree).height %><br>
  <%= last_survey(@tree).dbh %><br>
  <%= last_survey(@tree).foliage %><br>
  <%= last_survey(@tree).comments if last_survey(@tree).comments %>

<% else %>
  This tree has not yet been inspected! You'll have to log this tree in a survey before anything will be shown on this page.
<% end %>

<br><br>

Back to <%= link_to @tree.property.title, property_path(@tree.property) %>