<h2>Edit survey from <%= humanize_date(@survey.date) %></h2>

<center>
<%= form_with model: @survey do |f| %>
  <%= f.label :date, "Survey Date:" %>
  <%= f.date_field :date, min: "2020-01-01", max: today, value: @survey.date %>
  <br>
  <%= f.submit "Update Survey Date", class: "button" %>
<% end %>

<%= button_to "Delete this survey", @survey, method: :delete, class: "button", confirm: "Are you sure you want to delete this survey?" %>

<%= form_with model: @survey, url: delete_survey_path, method: 'get' do |f| %>
  <%= f.hidden_field :id %>
  <%= f.submit "Delete this survey" %>
<% end %>
</center>