<h2>Edit survey from <%= humanize_date(@survey.date) %></h2>

<%= render partial: "form_errors" %>

<%= form_with model: @survey do |f| %>
  <%= render partial: "form", locals: { f: f } %>
<% end %>

<%= link_to "Delete this survey", delete_survey_path(survey: @survey), style: "margin: 200px auto auto auto;", class: "button small" %>