<h2><%= @property.title %> &mdash; Surveys</h2>

<% if @surveys.present? %>
  <% @surveys.each do |survey| %>
    <%= link_to humanize_date(survey.date), survey, class: "button" %>
  <% end %>
<% else %>
  There are no surveys for this property.
<% end %><br><br>

<h2></h2>

<%= link_to "New Survey", new_property_survey_path(@property), class: "button small" %><br>
<%= link_to "#{@property.title}", property_path(@property), class: "button small" %>
<%= link_to "Trees", property_trees_path(@property), class: "button small" %>

