<h2>New Survey</h2>

<%= form_with model: @survey, url: property_surveys_path(@survey.property) do |f| %>
  <% if @errors && !@errors[:date].empty? %>
    <%= f.label :date, "A survey on that date already exists", style: "color: red" %><br>
  <% else %>
    <%= f.label :date, "".html_safe %>
  <% end %>
  <%= f.label :date %>
  <%= f.date_field :date, min: "2020-01-01", max: today, value: today %>
  <br><br>
  <%= f.submit "Start Survey", class: "button" %>
<% end %>