<h2>Survey taken on <%= humanize_date(@survey.date) %></h2>


<% if @property.trees.any? { |tree| !tree.surveys.include?(@survey) } %>
  These trees have not been logged on this survey yet:<br>
  <% @property.trees.each do |tree| %>
    <% if !tree.surveys.include?(@survey) %>
      <%= link_to tree.name, new_tree_inspection_path(tree, survey: @survey), class: "button" %>
    <% end %>
  <% end %>
  <br>
<% end %>

<% if @property.trees.any? { |tree| !tree.surveys.include?(@survey) } && @property.trees.any? { |tree| tree.surveys.include?(@survey) } %>
  <br>
<% elsif @property.trees.any? { |tree| !tree.surveys.include?(@survey) } && !@property.trees.any? { |tree| tree.surveys.include?(@survey) } %>
  <br>
<% end %>

<% if @property.trees.any? { |tree| tree.surveys.include?(@survey) } %>
  Completed inspections:<br>
  <% @survey.inspections.each do |inspection| %>
    <%= link_to inspection.tree.name, tree_path(inspection.tree, survey: @survey), class: "button" %>
  <% end %>
  <br><br>
<% end %>

<% if @property.trees.empty? %>
  There aren't any trees to survey on this property yet.<br><br>
<% end %>

<h2></h2>

<%= link_to "#{@survey.property.title}", property_path(@survey.property), class: "button small" %>
<%= link_to "Surveys", property_surveys_path(@survey.property), class: "button small" %>
<%= link_to "Edit Survey", edit_survey_path(@survey), class: "button small" %><br>
<%= link_to "New Tree", new_property_tree_path(@survey.property, survey: @survey), class: "button small" %>