<center>
<h2>Inspection form for <%= @tree.name %></h2>
<%= form_with model: @inspection, url: survey_inspections_path(@survey, tree_id: @tree) do |f| %>
  <%= f.label :height, "Height (feet)" %><br>
  <%= f.number_field :height %>
  <br><br>

  <%= f.label :dbh, "DBH (inches)" %><br>
  <%= link_to "What is DBH?", "https://en.wikipedia.org/wiki/Diameter_at_breast_height", target: "_blank" %><br>
  <%= f.number_field :dbh %>
  <br><br>

  <%= f.label :foliage %><br>
  <%= f.select :foliage, ["Abundant", "Normal", "Sparse", "Bare/Dead"], include_blank: "- Make a selection -" %>
  <br><br>

  <%= f.label :comments %><br>
  <%= f.text_area :comments %>
  <br><br>

  <%= f.submit "Log tree", class: "button" %>
<% end %>
</center>