<!DOCTYPE html>
<html>
  <head>
    <title>TreeLogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br><div class="wrapper">

      <header>
        <span>
          <a class="logoLink" href=<%= root_path %>>
            <img src="/images/logo.png" alt="TreeLogger Logo" height="35" width="auto">TreeLogger
          </a>
        </span>

        <% if logged_in? %>
          <span style="float:right;">
            <%= link_to "Properties", properties_path, class: "button small" %>
            <%= link_to "Home Page", root_path, class: "button small" %>
            <%= link_to "Log Out", logout_path, class: "button small" %>
          </span>
        <% end %>
      </header>
      
      <br>
      <center>
      <%= yield %>
      </center>

      <footer class="branding">
        <small>&copy; 2023 <strong>TreeLogger</strong><br>Spenser Brinkman</small>

        <span style="float:right;">
        <% if params[:controller] == "properties" && params[:action] == "show" %>
          <% if Property.find_by(id: params[:id]).inspections.present? %>
            <%= link_to "&#127794;".html_safe, tallest_tree_path, style: "text-decoration:none;" %>
          <% end %>
        <% end %>
        </span>

      </footer>
    </div>
  </body>
</html>
