<!DOCTYPE html>
<html>
  <head>
    <title>TreeLogger2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br><div class="wrapper">

      <header>
        
        <span style="font-size:300%">
        <% if !logged_in? %>
          <a class="homeLink" href="/">
        <% else %>
          <a class="homeLink" href="<%= user_path(current_user) %>">
        <% end %>
            <img src="/images/logo.png" alt="TreeLogger Logo" width="auto" height="35"><strong>TreeLogger</strong>
          </a>
        </span>
        <span style="float:right;">
        <% if logged_in? %>
          <form action="/logout" method="get">
            <% if request.env['PATH_INFO'] != "/properties" %>
              <button class="button small" formaction="/properties">Properties</button>
            <% else %>
              <button class="button small" formaction="<%= user_path(current_user) %>">Home Page</button>
            <% end %>
            <button class="button small">Log Out</button>
          </form>
        <% end %>
        </span>
      </header>
      <br>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>TreeLogger</strong></small>
      </footer>
    </div>
  </body>
</html>
